.no-display{
    display: none;
}

.player{
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.display-block{
    display: block;
}

#btnActions{
    width: 100px;
}

.playerName{
    color:blue;
}

.playerStack{
    color: red;
}

.card{
    width: 40px;
}

form label {
  display: block;
  height: 32px;
  width: 320px;
}

form label input {
  float: right;
}


#showDealerContainer{
    position: relative;
    height: 40px;
    line-height: 40px;

}

#showDealer{
    position: absolute;
    top: 0;
    left: 0;
}

#btnActionsContainer{
    position: relative;
}

#btnActions{
    position: absolute;
    top: 0;
    left: 0;
}

#raise{
    width: 90%;
}

.focus{
    border: 2px solid red;
}

.winner{
    border: 2px solid green;
}
