.no-display{
    display: none;
}

.player{
    width: 100px;
    display: inline-block;
}

.display-block{
    display: block;
}

#btnActions{
    width: 100px;
}

.playerName{
    color:blue;
}

.playerStack{
    color: red;
}

.card{
    width: 40px;
}